{% extends "base.html" %}

{% block title %}Редактировать Component order{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="color: #FFFFFF">Edit Component order: {{ como }}</h1>
    </div>
    {% if flag %}
        <div class="container" style="background-color:lightgreen">
            <p style="font-size: 14pt; font-style: italic;">Component order updated</p>
        </div>
    {% endif %}
    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr hidden>
                    <td>Component order</td>
                    <td>{{ form.id_compl_order }}</td>
                </tr>
                <tr>
                    <td>Total cost</td>
                    <td>{{ form.total_cost }}</td>
                </tr>
                <tr>
                    <td>Store Component id</td>
                    <td>{{ form.store_compl_id }}</td>
                    <td><a href="{% url "add_stor" %}">Add Storage</a></td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>{{ form.amount_compl }}</td>
                </tr>
            </table>
            <p>
                <input type="submit" class="btn-success">
                <a href="../outcomo"><input type="button" class="btn-light" value="Discard changes"></a>
            </p>
        </form>
        <h1><a href="{% url "out_como" %}">Return to list</a></h1>
    </div>
{% endblock content %}