{% extends "base.html" %}

{% block title %}Добавить Discount{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="color: #FFFFFF">Add new Discount</h1>
    </div>
    {% if flag %}
        <div class="container" style="background-color:lightgreen">
            <p style="font-size: 14pt; font-style: italic;">Discount added</p>
        </div>
    {% endif %}
    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr>
                    <td>bonuses</td>
                    <td>{{ form.bonuses }}</td>
                </tr>
                <tr>
                    <td>reception date</td>
                    <td>{{ form.reception_date }}</td>
                </tr>
            </table>

            <p><input type="submit" class="btn-success"></p>
        </form>
        <h1><a href="{% url "out_disc" %}">Return to list</a></h1>
    </div>
{% endblock content %}