{% extends "base.html" %}

{% block title %}Таблица Supp{% endblock title %}

{% block content %}
    <h1 style="color: honeydew"></h1>
    <div class="container">
        <h1 style="color: #FFFFFF">Таблица Supp</h1>
        <table class="table table-light border table-hover" align="center">
            <tr class="bold_text">
                <td>Supplier id</td>
                <td>Name</td>
                <td>Contact</td>
                <td><a href="{% url "add_supp" %}">Add</a></td>
            </tr>
            {% for supp in supp_list %}
                <tr>
                    <td>{{ supp.id_supplier }}</td>
                    <td>{{ supp.supplier_name }}</td>
                    <td>{{ supp.supplier_contact }}</td>
                    <td><a href="{% url "edit_supp" supp.id_supplier %}">Edit</a></td>
                    <td><a href="{% url "delete_supp" supp.id_supplier %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <h1><a href="../../mainmenu">Return to menu</a>
        </h1>
    </div>

{% endblock content %}