{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} </title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        {#      JQuery  #}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="jscript"></script>
    <script src="{% static 'js/changewallpaper.js' %}"></script>
    {#        Bootstrap #}
    <link href='{% static 'css/bootstrap.min.css' %}' rel="stylesheet" type="text/css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #fedfff" background="{% static "img/6_Scratched.jpg" %}">
{% include 'header.html' %}
{% block content %}
{% endblock content %}
{% include 'footer.html' %}
</body>
</html>