{% extends "base.html" %}

{% block title %}Редактировать Client{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="color: #FFFFFF">Edit Client: {{ client }}</h1>
    </div>
    {% if flag %}
        <div class="container" style="background-color:lightgreen">
            <p style="font-size: 14pt; font-style: italic;">Client updated</p>
        </div>
    {% endif %}
    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr hidden>
                    <td>Client</td>
                    <td>{{ form.id_client }}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{ form.phone_number }}</td>
                </tr>
                <tr>
                    <td>Card</td>
                    <td>{{ form.card_id }}</td>
                    <td><a href="{% url "add_disc" %}">Add card</a></td>
                </tr>
                <tr>
                    <td>FIO</td>
                    <td>{{ form.fio_client }}</td>
                </tr>
            </table>
            <p>
                <input type="submit" class="btn-success">
                <a href="../outclient"><input type="button" class="btn-light" value="Discard changes"></a>
            </p>
        </form>
        <h1><a href="{% url "out_client" %}">Return to list</a></h1>
    </div>
{% endblock content %}