{% extends "base.html" %}

{% block title %}Редактировать PC{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="color: #FFFFFF">Edit PC: {{ pc }}</h1>
    </div>
    {% if flag %}
        <div class="container" style="background-color:lightgreen">
            <p style="font-size: 14pt; font-style: italic;">PC updated</p>
        </div>
    {% endif %}
    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-light border" align="center">
                <tr hidden>
                    <td>Pc</td>
                    <td>{{ form.id_pc }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ form.description_pc }}</td>
                </tr>
            </table>
            <p>
                <input type="submit" class="btn-success">
                <a href="../outpc"><input type="button" class="btn-light" value="Discard changes"></a>
            </p>
        </form>
        <h1><a href="{% url "out_pc" %}">Return to list</a></h1>
    </div>
{% endblock content %}